@model IEnumerable<Lcma.Web.Models.ProjectVM>
@{
    ViewBag.Title = "Проекты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Проекты</h2>

<p>
    @Html.ActionLink("Добавить проект", "Create")
</p>

<div id="target-div">
    <table class="table table-sm table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Performer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.FullName)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id })<br />
                    @Html.ActionLink("Сотрудники", "AttachedEmployees", new { id = item.Id })<br />
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>